body {
  overflow-x: hidden;
}

.content {
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bg {
  position: absolute;
  height: 800px;
  left: 75%;
  bottom: 15%;
  z-index: 0;
}
